.media {
  margin-top: 0;
  display: inline-block;
  vertical-align: middle;
  width: 88%; 
}
.media:first-child {
  margin-top: 0; 
}

.media,
.media-body {
  zoom: 1;
  overflow: hidden;
}

.media-right,
.media > .pull-right {
  padding-left: 10px; 
}

.media-left,
.media > .pull-left {
  padding-right: 10px; 
}

.media-left,
.media-right,
.media-body {
  display: table-cell;
  vertical-align: top; 
}

.media-middle {
  vertical-align: middle; 
}

.media-heading {
  margin: 0;
  font-weight: 600;
  font-size: 14px;
}

.media-object {
	display: block;
}

.media-author-xs {
	border-radius: 16px;
    max-width: 20px;
    height: auto;
    vertical-align: middle;
}

.media-subtext {
	vertical-align: middle;
    font-size: 12.6px;
    color: #888;
}


.cmb-post-search-ajax-results li a.remover {
  float: none !important;
  display: inline-block;
  vertical-align: middle;
}

.autocomplete-suggestion:not(:last-child) { border-bottom: 1px solid #eee; }

